logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
.idea
app/jspm_packages

app/bower_components/material-design-icons/*
!app/bower_components/material-design-icons/content/
app/bower_components/material-design-icons/content/*
!app/bower_components/material-design-icons/content/svg
app/bower_components/material-design-icons/content/svg/*
!app/bower_components/material-design-icons/content/svg/production
app/bower_components/material-design-icons/content/svg/production/*
!app/bower_components/material-design-icons/content/svg/production/ic_save_24px.svg
!app/bower_components/material-design-icons/content/svg/production/ic_undo_24px.svg
