<!DOCTYPE html>
<html>
<head lang="en">
  <title>Contacts Material - Starter App</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="assets/app.css"/>

</head>
<body ng-app="starterApp" layout="column" ng-controller="ContactCtrl as cc">

<md-toolbar layout="row">
  <md-button class="menu" hide-gt-sm ng-click="cc.toggleListPanel()" aria-label="Show Contacts List">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <h1>Contacts Material - Starter App</h1>
</md-toolbar>

<div flex layout="row">

  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
    <md-list>

      <md-item>
        <md-button ng-click="cc.addContact()" ng-class="{'selected' : !cc.selectedContact.id }">
          <md-icon md-svg-icon="add-contact" class="avatar"></md-icon>
          <span>New contact</span>
        </md-button>
      </md-item>

      <md-item ng-repeat="contact in cc.contacts">
        <md-button ng-click="cc.selectContact(contact)" ng-class="{'selected' : contact === cc.selectedContact }">
          <md-icon md-svg-icon="{{ contact.avatar }}" class="avatar"></md-icon>
          <span>{{ contact.firstName }} {{ contact.lastName }}</span>
        </md-button>
      </md-item>
    </md-list>
  </md-sidenav>

  <md-content flex id="content">
    <md-icon md-svg-icon="{{cc.selectedContact.avatar}}" class="avatar"></md-icon>
    <h2>{{ cc.selectedContact.firstName }}</h2>

    <p>{{ cc.selectedContact.lastName }}</p>

    <form name="contactForm"
          novalidate>

      <md-input-container>
        <label>Last Name</label>
        <input name="lastName"
               ng-model="cc.selectedContact.lastName"
               required>

        <div ng-messages="contactForm.lastName.$error" ng-show="contactForm.lastName.$dirty">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>First Name</label>
        <input name="firstName"
               ng-model="cc.selectedContact.firstName"
               required>

        <div ng-messages="contactForm.firstName.$error" ng-show="contactForm.firstName.$dirty">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>

      <md-select ng-model="cc.selectedContact.avatar" placeholder="Select an avatar">
        <md-option ng-value="avatar" ng-repeat="avatar in cc.avatars">{{ avatar }}</md-option>
      </md-select>

    </form>

    <md-button class="delete-contact" md-no-ink ng-click="cc.deleteContact($event)" aria-label="Delete contact">
      <md-icon md-svg-icon="delete-contact"></md-icon>
    </md-button>
  </md-content>

</div>

<script src="./bower_components/lodash/lodash.min.js"></script>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-messages/angular-messages.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-material/angular-material.js"></script>

<script src="./src/app.js"></script>
<script src="./src/contacts/ContactService.js"></script>
<script src="./src/contacts/ContactCtrl.js"></script>

</body>
</html>